<%- include('../partials/header.ejs') %>

<% if (user) { %>
    <a href="/challenges/new">Submit a New Challenge</a>
<% } %>

<% if (allChallenges.length) { %>
<table>
    <thead><tr>
        <% if (user) { %> 
            <td></td> 
        <% } %>
        <td>Challenge Name</td>
        <td>Author</td>
        <td>Gist</td>
        <td>Number of Attempts</td>
        <td>Have I Attempted This?</td>
        <td>Has This Been Solved?</td>
        <td></td>
    </tr></thead>
    <tbody>
            <% allChallenges.forEach(function(challenge) { %>
                <tr>
                    <% if (user) { %>
                        <td><a href="/attempts/challenges/<%= challenge._id %>/new">Attempt this!</a></td>
                    <% } %>
                    <td><%= challenge.title %></td>
                    <td><%= challenge.challenger.displayName %>
                        <%= JSON.stringify(challenge.challenger._id) === JSON.stringify(user._id) ? ' (You)' : '' %>
                    </td>
                    <td><%= challenge.gist %></td>
                    <td>Number of attempts here</td>
                    <td>If you've attempted it, it'll go here</td>
                    <td><%= challenge.isSolved ? 'Yes' : 'No' %></td>
                    <td><a href="/challenges/<%= challenge._id %>">Details</a></td>
                </tr>

            <% }) %>
        <% } else { %>
            <p>No Challenges Yet</p>
        <% } %>
    </tbody>
</table>

<%- include('../partials/footer.ejs') %>