<%- include('../partials/header.ejs') %>


<% if (userChallenges.length) { %>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Challenge Name</th>
            <th>Gist</th>
            <th>Has This Been Solved?</th>
        </tr>
    </thead>
    <tbody>
        <% userChallenges.forEach(function(challenge) { %>
        <tr>
            <td><a href="/challenges/<%= challenge._id %>"><%= challenge.title %></a></td>
            <td><%= challenge.gist %></td>
            <td><%= challenge.isSolved ? 'Yes' : 'No' %></td>
        </tr>

        <% }) %>
        <% } else { %>
        <p>No Challenges Yet</p>
        <% } %>
    </tbody>
</table>

<% if (user) { %>
<a href="/challenges/new" class="button button-primary">Submit a New Challenge</a>
<% } %>

<%- include('../partials/footer.ejs') %>