<%- include('../partials/header.ejs') %>


<table>
    <thead><tr>
        <% if (user) { %>
        <td></td>
        <% } %>
        <td>Challenge Name</td>
        <td>Author</td>
        <td>Gist</td>
        <td>Number of Attempts</td>
        <td>Has This Been Solved?</td>
        <td>Details</td>
    </tr></thead>
    <tbody><tr>
        <% if (user) { %>
        <td><a href="/attempts/challenges/<%= challenge._id %>/new">Attempt this!</a></td>
        <% } %>
        <td><%= challenge.title %></td>
        <td><%= challenge.challenger.displayName %>
            <% if (user) { %>
            <%= JSON.stringify(challenge.challenger._id) === JSON.stringify(user._id) ? ' (You)' : '' %>
            <% } %>
        </td>
        <td><%= challenge.gist %></td>


        <!-- fix this when the attempts are working. -->
        <td>Number of attempts here</td>
        <td><%= challenge.isSolved ? 'Yes' : 'No' %></td>
        <td><%= challenge.details %></td>
    </tr>
    </tbody>
</table>
<br>
<br> 
<br>


<h2>This is where the list of attempts for this challenge will live</h2>

<%- include('../partials/footer.ejs') %>