<%- include('../partials/header.ejs') %>

<% if (allAttempts.length) { %>
    <table>
        <thead><tr>
            <td>Attempt Number</td>
            <td>Challenger</td>
            <td>Challenge</td>
            <td>Gist</td>
            <td>Is This Correct?</td>
            <td></td>
        </tr></thead>
        <tbody>
                <% allAttempts.forEach(function(attempt, index) { %>
                    <tr>
                        <td>Can I get the number of attempts per challenge here?</td>
                        <td><%= attempt.challenge.challenger.displayName %></td>
                        <td><%= attempt.challenge.title %></td>
                        <td><%= attempt.challenge.gist %></td>
                        <td><%= attempt.isCorrect ? 'Yes' : 'No' %></td>
                        <td><a href="/attempts/<%= attempt._id %>">Details</a></td>
                    </tr>
    
                <% }); %>
            <% } else { %>
                <p>No Attempts Yet</p>
            <% } %>
        </tbody>
    </table>

<%- include('../partials/footer.ejs') %>