<%- include('../partials/header.ejs') %>

<form action="/users/update?_method=PUT" method="POST">
    <label>Display Name:</label>
    <input type="text" name="displayName" value=
    <% if (user.displayName) { %>
        <%= user.displayName %>
    <% } else { %>
        <%= user.name %>
    <% } %>><br>
    <label>I want to be a coder:</label>
    <select name="isCoder">
        <option value="<%= user.isCoder %>" selected><%= user.isCoder %></option>
        <option value="<%= !user.isCoder %>"><%= !user.isCoder %></option>
    </select><br>
    <label>I want to be a challenger:</label>
    <select name="isChallenger">
        <option value="<%= user.isChallenger %>" selected><%= user.isChallenger %></option>
        <option value="<%= !user.isChallenger %>"><%= !user.isChallenger %></option>
    </select><br>
    <input class="button-primary" type="submit" value="Update Profile">
</form>

<%- include('../partials/footer.ejs') %>